PioneerTestConsultancySystem/Connected Services/PioneerServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PioneerTest.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PioneerTest.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlternateMobileNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Current_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile_Number" type="xs:long" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetailsModel" nillable="true" type="tns:EmployeeDetailsModel" />
  <xs:complexType name="EducationDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseSpecialisation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfPass" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducationDetailsModel" nillable="true" type="tns:EducationDetailsModel" />
</xs:schema>