PioneerTestConsultancySystem/Connected Services/PioneerServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59195/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PioneerTest.Models" />
  <xs:element name="insertemployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PioneerTest.Models" minOccurs="0" name="employee" nillable="true" type="q1:EmployeeDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertemployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertemployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserteducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PioneerTest.Models" minOccurs="0" name="education" nillable="true" type="q2:EducationDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserteducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inserteducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>